.atom-nucleus {
    background-color: #9C27B0;
    width: 50%;
    height: 50%;
    border-radius: 50%;

    position: absolute;
    top: 25%;
    left: 25%;
}

.atom-electron-orbit {
    width: 100%;
    height: 100%;

    position: absolute;

    animation: orbit-electron 10s linear infinite;
}

.atom-electron {
    background-color: #03A9F4;
    width: 10%;
    height: 10%;
    border-radius: 50%;

    position: absolute;
    top: 25%;
    left: 25%;
}

@keyframes orbit-electron {
    100% {
        transform: rotate(360deg);
    }
}