.neutron {
    position: absolute;

    background-color: #FFEB3B;

    width: 10%;
    height: 10%;

    border-radius: 50%;
}

.neutron:nth-child(1) {
    top: 40%;
    left: 45%;
}

.neutron:nth-child(2) {
    bottom: 40%;
    left: 45%;
}

.proton {
    position: absolute;

    background-color: #F44336;

    width: 10%;
    height: 10%;

    border-radius: 50%;
}

.proton:nth-child(3) {
    top: 45%;
    left: 40%;
}

.proton:nth-child(4) {
    bottom: 45%;
    right: 40%;
}

.wave {
    position: absolute;

    top: 45%;
    left: 45%;

    box-sizing: border-box;
    border: 1px dashed;

    width: 10%;
    height: 10%;

    border-radius: 50%;

    animation: expand-wave 1.5s linear infinite;

    z-index: -1;
}

.wave:nth-child(2) {
    animation-delay: -0.75s;
}

@keyframes expand-wave {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(10);

        opacity: 0.1;
    }
}

.electron {
    position: absolute;

    top: 47.5%;
    left: 47.5%;

    background-color: #03A9F4;

    width: 5%;
    height: 5%;

    border-radius: 50%;
}

.overflow-container-half {
    overflow: hidden;

    position: absolute;

    width: 50%;
    height: 100%;
}

.wave-trail {
    position: absolute;

    margin: 0;

    border: 1px dashed #81D4FA;

    top: 50%;
    left: 0%;

    width: 200%;
    height: 0;

    animation: trail-wave 0.8s linear infinite;
}

@keyframes trail-wave {
    0% {
        transform: translateX(0%) scale(4, 1);
    }

    100% {
        transform: translateX(-50%) scale(4, 1);
    }
}

.gamma-wave {
    position: absolute;
    top: 45%;

    width: 100%;
    height: 10%;

    display: flex;

    animation: move-wave 1s linear infinite;
}

.wave-part {
    position: relative;

    overflow: hidden;

    width: 10%;
    height: 50%;

    transform: scale(calc(1 + 2 / (294 / 10)));
}

.wave-part:nth-child(2n) {
    top: 50%;
}

.wave-part:before {
    content: "";

    position: absolute;

    width: 100%;
    height: 200%;

    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 50%;
}

.wave-part:nth-child(2n):before {
    transform: translateY(-50%);
}

@keyframes move-wave {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    40% {
        clip-path: inset(0 0 0 0);
    }

    80% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

.radioactive-symbol {
    position: absolute;

    top: 35%;
    left: 35%;

    width: 30%;
    height: 30%;

    background-color: #FFC107;

    border-radius: 50%;
}

.radioactive-center {
    position: absolute;

    top: 37.5%;
    left: 37.5%;

    width: 25%;
    height: 25%;

    background-color: #000000;

    border-radius: 50%;
}

.radioactive-center div {
    position: absolute;

    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;

    background-color: #FFC107;

    border-radius: 50%;

    clip-path: polygon(30% 0, 50% 50%, 70% 0);
}

.radioactive-center div:nth-child(2) {
    transform: rotate(120deg);
}

.radioactive-center div:nth-child(3) {
    transform: rotate(240deg);
}

.radioactive-center-center {
    position: absolute;

    top: 47.5%;
    left: 47.5%;

    width: 5%;
    height: 5%;

    background-color: #000000;

    border-radius: 50%;
}

.rotator {
    width: 100%;
    height: 100%;

    position: absolute;

    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.alpha-source {
    position: absolute;
    top: 10%;
    left: 40%;

    width: 20%;
    height: 10%;

    background-color: #FFC107;
}

.positive {
    position: absolute;
    top: 30%;
    left: 10%;

    width: 25%;
    height: 15%;

    background-color: #F44336;
}

.negative {
    position: absolute;
    top: 30%;
    right: 10%;

    width: 25%;
    height: 15%;

    background-color: #03A9F4;
}

.current {
    position: absolute;
    top: 36%;
    left: 10%;

    width: 55%;
    height: 1%;

    box-sizing: border-box;
    border: 2px dashed #3F51B5;

    z-index: -1;

    animation: move-current 0.8s linear infinite;
}

@keyframes move-current {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(40%);
    }
}

.alpha-ray {
    position: absolute;

    width: 100%;
    height: 100%;
}

.alpha-ray div {
    position: absolute;

    top: 10%;
    left: 45%;

    border-radius: 50%;
    border: 3px solid #BABABA;
    box-sizing: border-box;

    clip-path: inset(50% 8% 0 8%);

    width: 10%;
    height: 10%;

    z-index: -2;

    animation: emit-wave 1.5s linear infinite;
}

.alpha-ray div:nth-child(2) {
    animation-delay: -0.5s;
}

.alpha-ray div:nth-child(3) {
    animation-delay: -1s;
}

@keyframes emit-wave {
    100% {
        transform: translateY(300%) scale(5);

        opacity: 0;
    }
}