body {
    font-family: "Open Sans";
    color: #bababa;
    max-width: 800px;
    margin: 2em auto;

    padding: 0 2em;

    background-color: #000000;
}

header .header-logo-base {
    mask-image: url("header.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url("header.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    background-color: #aaaaaa;
}

header img {
    max-width: 100%;
    visibility: hidden;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
}

header hr {
    margin: 60px 0;
}

.section-container {
    display: grid;

    grid-auto-flow: column;
    grid-row-gap: 20px;

    align-items: center;
}

.atomic-container {
    grid-template: repeat(6, 1fr) / 2fr 1fr;
}

.nuclear-container {
    grid-template: repeat(3, 1fr) / 2fr 1fr;
}

.section-container .animation {
    position: relative;
    border: solid #bababa;
    box-sizing: border-box;

    width: 300px;
    height: 300px;
}

.section-container .slide {
    min-height: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-right: 50px;
}

.gold-foil-experiment {
    color: #FFC107;
}

.gold-foil-experiment.animation {
    border-color: #FFC107;
}