body {
    font-family: "Open Sans";
    color: #bababa;
    max-width: 800px;
    margin: 2em auto;
    padding: 0 2em;

    background-color: #000000;
}

/* Header uses mask to make the color modifiable. */
header .header-logo-base {
    mask-image: url("header.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url("header.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    background-color: #bababa;
}

/* This element is invisible because it is used only to set the size of its
 * container, which should always be the same size as the image. 
 */
header img {
    max-width: 100%;
    visibility: hidden;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
}

hr {
    margin: 60px 0;
}

.section-container {
    display: grid;

    grid-row-gap: 20px;

    align-items: center;

    grid-template-columns: 2fr 1fr;

    grid-column-gap: 50px;
}

/* Media query used for making the page responsive by adapting to small
 * screens. It puts the information and the animation in a single column,
 * allowing it to fit.
 */
@media only screen and (max-width: 800px) {
    .section-container {
        grid-template-columns: 1fr;

        justify-items: center;
    }
}

.section-container .animation {
    position: relative;
    border: solid #bababa;
    box-sizing: border-box;

    width: 300px;
    height: 300px;
}

.section-container .slide {
    min-height: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-container .slide p {
    text-align: justify;
}

.gold-foil-experiment {
    color: #FFC107;
}

.gold-foil-experiment.animation {
    border-color: #FFC107;
}

.equation {
    width: 80%;

    margin: 0 auto;
}

footer {
    height: 50vh;
}

@media print {
    .section-container {
        grid-template-columns: 1fr;

        justify-items: center;
    }

    .animation {
        display: none;
    }
}